{% extends "base.html" %}

{% block title %}
    Супергерои
{% endblock %}

{% block content %}
    <!-- {% for i in range(5) %}
        <p>Поле № {{ i }}</p>
    {% endfor %} -->
    <div class="row">
        <div class="col-sm-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/2/21/Web_of_Spider-Man_Vol_1_129-1.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Человек-паук</h5>
                    <p class="card-text">Информация о персонаже какая-то из desc</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Полное имя: Питер Дж. Паркер</li>
                    <li class="list-group-item">Сторона света: Добро</li>
                    <li class="list-group-item">Способности: Милый паучок, ыфвфывф, фывфыв, фывфыв, фывфыв, фывфыв</li>
                </ul>
            </div>
        </div>
        
        <div class="col-sm-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/ru/thumb/b/bd/Wolverine_Marvel.png/375px-Wolverine_Marvel.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Россомаха</h5>
                    <p class="card-text">Информация о персонаже какая-то из desc</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Полное имя: Какой-то такой-то</li>
                    <li class="list-group-item">Сторона света: Добро</li>
                    <li class="list-group-item">Способности: Список, способностей, фывфвф, фывф, вфывфывфв, фывфывфыв, ывауеккц, фывфывыфв, фвыфыв</li>
                </ul>
            </div>
        </div>
    </div>
        

{% endblock %}

